# vim as default
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

export HOMEBREW_CASK_OPTS="--appdir=/Applications"

export PATH=$PATH:/usr/local/Cellar/mtr/0.87/sbin

export PATH=$PATH:/usr/local/share/dotnet/dotnet

export ANDROID_HOME="/Users/vcavalcante/Library/Android/android-sdk-macosx"

export JAVA_HOME="/Library/Java/JavaVirtualMachines/jdk1.8.0_45.jdk/Contents/Home"

export PATH=$PATH:$JAVA_HOME:$ANDROID_HOME:$ANDROID_HOME/tools:$ANDROID_HOME/platform-tools
