# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Victor Cavalcante
#	email = victor@cavalcante.net
[user]
	name = Victor Cavalcante
	email = victor@cavalcante.net

[alias]
	c = commit -am
	up = pull
	p = push
	s = status -s
	sclone = clone --depth=1
	df = diff --color --color-words --abbrev
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	co = checkout

	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

	reup = rebase-update

[color]
	ui = always

[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
[include]
  # For username / github token / etc
  path = ~/.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[init]
	templatedir = ~/.git_template
